/* feuille de style global pour le projet */
/* un artise - Elle gère le header, NAV et FOOTER */


/* Choix de police de caractère */
/* police ROBOTO */
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Mukta & display=swap');
/* règle css : font-family : 'Roboto', sans-serif ; */
/*  pour les titres :font-family : 'Mukta', sans-serif ; */

/* Pseudo class ROOT qui permet de */
/* des variables de couleur */
/* RESET du body */
body{
    width: 100%;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* on applique le mode flex à ce conteneur */
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    position: fixed;
    background: gray;
    /* j'utilise 100% du parent donc de BODY */
    width: 100%;
    top: 0px;
    left: 0px;
    /* VH Viewport Heigth (% de hauteur) */
    height: 10vh;
    padding: 10px;
    z-index: 10;
    box-shadow: 6px 6px 8px gray;
}
/* dimensione le bloc DIV qui contient le H1 */
header div{
    width: 22%;
    height: 8vh;
    margin: 0 0 0 0m;
}
/* je mets en forme le H1 du HEADER  */
header div h1{
    font-family: 'Mukta', sans-serif ;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    margin: 0.4em 0 0 0;
    color: whitesmoke;
}
/* je dimensionne et je positionne le bloc NAV */
nav{
    width: 36%;
    display: flex;
    justify-content: space-around;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2em 0.2em 0.2em 0.2em;
}
/* supression de la decoration du mode liste */
.navbar li{
    list-style: none;
    margin:0 0.2em 0 0.2em;
}

/* Mise en forme des élements A href */
/* leger écartement les uns des autres avec MARGIN */

.navbar li a {
    font-family : 'Roboto', sans-serif ;
    text-decoration: none;
    font-size: 1,8em;
    font-weight: bolder;
    color: whitesmoke;
    margin: 0 0.8em 0 0;
    line-height: 1,2em;
       
}

/* Mise en forme du Label qui contient le symbole */
/* Hamburger et léger positionnement avec MARGIN */
header nav label{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: black;
    margin: 0 1em 0 0;
}

/* changement de pointeur au passage de la souris */

header nav label:hover {
    cursor: pointer;
}

/* Par défaut le symbôle Hamburger est masqué */
header nav label{
    display: none; 
}

/* Ainsi que la case à cocher associée au LABEL */
#myBurger{
    display: none;

}
/* 
.navbar{
    display: none;
}

*/


#myBurger:checked ~ .navbar{
    display: block;
}



/** Section de gestion des medias queries */
/*****************************************/
/* Règles CSS pour les écrans inférieurs à 576px */
@media (max-width: 576px) {
    
}

/* Règles CSS pour les écrans inférieurs à 768px */ 
@media (max-width: 768px) {

}

/* Règles CSS pour les écrans inférieurs à 992px */ 
@media (max-width: 992px){
    #myLogo {
        width: 36%;
        margin: 0 0 0 1em;
    }
    #myLogo h1{
        font-size: 1.4em;
        line-height: 1.2em;
        white-space: nowrap;
    }
    /* On masque le menu horizontal */
    .navbar{
        display: none;
    }
    /* On affiche le symbôle Hamburger à la place */
    header nav label{
        display: block;
        box-sizing: border-box;
        margin: 0 0 0 6em;
    }
    /* Gestion du survol de la souris */
    header nav label:hover{
        cursor: pointer;
    }
    /* Si myBurger est coché: on affiche le menu verticalement */
    #myBurger[type=checkbox]:checked ~ .navbar{
        display: block;
        background-color: cadetblue;
        width: 18%;
        height: 22vh;
        margin: 0 1em 1em 0;
        position: absolute;
        left: 76.4vw;
        top: 9vh;
    }

    /* Les items du menu principal */
    /* sont centrés en mode FLEX */
    .navbar li{
        flex-direction: column;
        width: 12vw;
        text-align: center;
        margin: 0.6em 0 1.2em 0;
    }
    /* On modifie la mise en forme des A href */
    .navbar li a{
        margin: 0 0 2em 0;
    }
    /* Animation survol de la souris sur */
    /* items du menu vertical */
    .navbar li a:hover{
        cursor: pointer;
        background-color: whitesmoke;
        color: cadetblue;
    }
}

/* Règles CSS pour les écrans inférieurs à 1200px */ 
@media (max-width: 1200px) {

}







/* mise en forme du FOOTER */

footer{
    box-sizing: border-box;
    position: fixed;
/* J'utilise 100 % du parent donc de BODY */
    width: 100%;
    top: 84.4vh;
    left: 0px;
/* VH Viewport Heigth (% de hauteur) */
    height: 15.6vh;
    background-color:grey;
    box-shadow: -6px -6px 8px gray;
    z-index: 10;
/* On applique le mode flex à ce conteneur */
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    align-items: center;
} 




footer section{
    box-sizing: border-box;
    background-color: whitesmoke;
    width: 46%;
    height: 4.8vh;
    margin: 4px 10px 4px 10px;
}

footer section p{
    position: relative;
    display: inline-block;
    width: 50%;
    left: 25%;
    top: -5vh;
/* bottom: 5vh; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    line-height: 0.8em;
/* Provisoire 
border: 1px solid black; */
}

footer section span{
    position: relative;
    display: block;
    top: 0.2vh;
    left: 1%;
    width: 1.6vw;
    height: 2vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: black;
    font-size: 1em;
    font-weight: bold;
    line-height: 0.4em;
    margin: 2px 0 2px 0;
    padding: 7px 0 0 0;
    color: whitesmoke;
    font-size: 1em;
    font-weight: bold;
}

footer section span:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: cadetblue;
    }

.fondbleu{
    background-color:grey;
    border-radius: 3px;
    border-width: 2px;
    border-left-style: outset;
    border-left-color: lightgray;
    border-top-style: outset;
    border-top-color: lightgray;
    border-right-style: outset;
    border-right-color: darkgrey;
    border-bottom-style: outset;
    border-bottom-color: darkgrey; 
}
.menuFondBleu{
    background-color: cadetblue;
    border-radius: 3px;
    border-width: 2px;
}
.fondclair{
    background-color: whitesmoke;
    border-radius: 3px;
    border-width: 2px;
    border-left-style: outset;
    border-left-color: lightgray;
    border-top-style: outset;
    border-top-color: lightgray;
    border-right-style: outset;
    border-right-color: darkgrey;
    border-bottom-style: outset;
    border-bottom-color: darkgrey; 
}
.menuFondClair{
    background-color: whitesmoke;
    border-radius: 3px;
    border-width: 2px;
}
