/* feuille de style global pour le projet */
/* un artise - Elle gère le header, NAV et FOOTER */


/* Choix de police de caractère */
/* police ROBOTO */
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Mukta & display=swap');
/* règle css : font-family : 'Roboto', sans-serif ; */
/*  pour les titres :font-family : 'Mukta', sans-serif ; */

/* Pseudo class ROOT qui permet de */
/* des variables de couleur */
/* RESET du body */
body{
    width: 100%;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* on applique le mode flex à ce conteneur */
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    position: fixed;
    background: gray;
    /* j'utilise 100% du parent donc de BODY */
    width: 100%;
    top: 0px;
    left: 0px;
    /* VH Viewport Heigth (% de hauteur) */
    height: 10vh;
    padding: 10px;
    z-index: 10;
    box-shadow: 6px 6px 8px gray;
}
/* dimensione le bloc DIV qui contient le H1 */
header div{
    width: 22%;
    height: 8vh;
    margin: 0 0 0 0m;
}
/* je mets en forme le H1 du HEADER  */
header div h1{
    font-family: 'Mukta', sans-serif ;
    text-align: center;
    font-size: 1.6em;
    font-weight: bolder;
    margin: 0.4em 0 0 0;
    color: whitesmoke;
}
/* je dimensionne et je positionne le bloc NAV */
nav{
    width: 36%;
    height: 8vh;
    margin:0 0 0 0 ;


}

nav ul.navbar{  
    list-style: none; 
    margin: 1.2em 1em 0 1em;
    display: flex;
    justify-content: space-around;


}

nav ul li{
    display: inline;
    padding: 12px;
  
    
}
/* mise en forme des elements A */
nav ul li a{
    text-decoration: none;   
    font-family: 'Roboto', sans-serif ;
    color: #ffff;
    font-size: 1.2em;
    font-weight: bolder;
    margin: 0 0.2em 0 0.2em;
    
}

/* pseudo element HOVER sur les elements A */

nav ul li a:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
}

/* section charte graphique */


.fondbleu{
    background-color: cadetblue;
    border-radius: 3px;
    border-width: 2px;
    border-left-style: outset;
    border-left-color: lightgrey;
    border-top-style: outset;
    border-top-color: lightgrey;
    border-right-style: outset;
    border-right-color: darkgrey;
    border-top-style: outset;
    border-top-color: darkgrey;
}

.fondclair{
    background-color: cadetblue;
    border-radius: 3px;
    border-width: 2px;
    border-left-style: outset;
    border-left-color: lightgrey;
    border-top-style: outset;
    border-top-color: lightgrey;
    border-right-style: outset;
    border-right-color: darkgrey;
    border-top-style: outset;
    border-top-color: darkgrey;

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(/image/main\ banner.jpg)100%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px black solid;
    width: 100%;
    height: 90vh;
    padding: 20px;
    
    
}

#first-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 20px 0 20px;
    padding: 50px;  
}


.title-second{

}

section#second-row{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    background: darkgrey;
    padding: 20px;
    margin-top: 10px;
 
}


.col2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
    height: 380px;
    flex: 1;
    
}

img {
    width: 250px
}






